<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
</head>

<body>

    <section class="container">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore facere aliquam dignissimos amet libero illo!
            Architecto labore, repudiandae officia enim harum ab tenetur. Enim sed a autem rem, delectus dolores. Lorem
            ipsum, dolor sit amet consectetur adipisicing elit. Quia officiis assumenda quaerat laborum nemo aut et,
            iure pariatur doloribus nesciunt saepe quisquam deleniti repellendus. Explicabo hic excepturi facilis
            consequuntur enim!</p>
        <form action="/" method="post">
            <label for="nome"></label>
            <input type="text" name="nome">

            <label for=""></label>
            <input type="password" name="" id="">

            <label for=""></label>
            <input type="email" name="" id="">

            <label for=""></label>
            <input type="number" name="" id="">

            <button>Enviar</button>
        </form>
    </section>
    <script src="./assets/js/bundle.js"></script>
</body>

</html>